header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Images/about_header_photo.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
    background-color: var(--background-color);
}

.about__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.about__container--content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.about__image {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.about__image img {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    object-position: 50% 50%;
}

.about__info {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

@media only screen and (max-width: 500px) {
    .about__container--content{
        flex-direction: column;
    }
    .about__image{
        order: 1;
        max-width: none;
    }
    .about__info{
        order: 2;
        max-width: none;
    }
}