@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --background-color: #003554;
    --button-color1:#e3a900;
    --button-hover-color:#00a6fc;
    --font-size: 1rem;
    --font-family: 'Poppins', san-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Images/rv.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 70px;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: .3s ease;
}

ul li a:hover {
    background-color: #fff;
    color: black;
}

ul li.active a {
    background-color: #fff;
    color: black;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}
/* ------------ABOUT SECTION------------ */
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
    background-color: var(--background-color);
}

.about__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.about__container-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.about__item1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.about__item2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.about__item2-header {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
}

.about_item2-header, p {
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.about_item2-header, h2 {
    margin: 0;
    position: relative;
    font-size: 3.125rem;
    font-weight: 700;
    color: var(--button-color1);
}

.about_item2-header, .about-text{
    font-size: 1rem;
    color: #666;
}
.about-btn {
    position: relative;
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    border-radius: 0;
    background: var(--button-color1);
    transition: .3s;
    cursor: pointer;
    border: none;
}

.about-btn:hover{
background: var(--button-hover-color);
color: white;
}

/* -----------END OF ABOUT SECTION----------- */

/* -----------SERVICE SECTION----------- */
.service{
    background-image: url("/Images/pattern-overlay.png");
    background-repeat: repeat;
    padding: 1.5% 4%;
    color: #fff;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.8vw;
    transform: scale(1,1.25);
    -moz-transform: scale(1,1.25);
    -webkit-transform: scale(1,1.25);
    -ms-transform: scale(1,1.25);
    margin-top: 10px;
}

.service__container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.service__item{
    margin-right: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__item-box{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.service__item-box p {
    color: var(--background-color);
    font-size: 1.5vw;
    display: inline;
    margin: 0;
}

.service__item-box a{
    text-decoration: none;
}
.service__item-btn{
    background: #fff;
    text-align: center;
    border-radius: 0 !important;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: .956;
    transform: scale(1,1.25);
    -moz-transform: scale(1,1.25);
    -webkit-transform: scale(1,1.25);
    -ms-transform: scale(1,1.25);
    margin: 20px;
    padding: 8px 70px;
    font-family: var(--font-family);
}

.service__item-btn a:hover{
    color: #e3a900;
}
/* ------------END OF SERVICE SECTION------------ */

.footer{
    background-image: url("/Images/pattern-overlay.png");
    background-repeat: repeat;
    font-size: 1.1vw;
    font-family: var(--font-family);
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -1px;
    padding: 1.5% 4%;
    text-transform: uppercase;
}

.footer__container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer__container::before{
    display: table;
    content: " ";
}

.footer__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
}

.footer__items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.logo-img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.footer__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.footer ul li a {
    color: black;
    border: none;
}

.footer ul li a:hover {
    color: var(--button-hover-color);
    text-decoration: none;
    background-color: transparent;
    border: none;
}


.footer__header{
    color: var(--background-color);
    font-family: var(--font-family);
    /* font-size: 1.5vw; */
    font-size: calc(12pt + .4vw);
    padding-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 0 2px 1.96px rgb(120 117 117 / 35%);
    transform: scale(1,1.25);
    -moz-transform: scale(1,1.25);
    -webkit-transform: scale(1,1.25);
    -ms-transform: scale(1,1.25);
}
.footer__link{
    line-height: unset;
}
